[Unit]
Description=Lustre HSM Action Stream Janitor
After=network-online.target redis.service
Wants=network-online.target

[Service]
Type=simple
# This service can run as a non-privileged user if desired, as it only
# needs network access to Redis. For simplicity, we use root.
User=root
Group=root
ExecStart=/usr/bin/hsm-stream-janitor -c /etc/lustre-hsm-action-stream/hsm_stream_janitor.yaml
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
